<h1>Nearest Station</h1>

<p>Name: <%= @station.name %></p>
<p>Address: <%= @station.address %></p>
<p>Fuel Type: <%= @station.fuel_type %></p>
<p>Access Times: <%= @station.access_times %></p>
<p>Distance to Station: <%= @directions.distance %></p>
<p>Travel Time: <%= @directions.travel_time %></p>
<p>Directions: 
  <% @directions.maneuvers.each do |turn| %>
    <ul>
      <li><%= turn %></li>
    </ul>
  <% end %></p>